*For full screen view & to download, visit *
- `HTML` : <a href="https://prasanth-ntu.github.io/html/ML-Course/Python-Refresher/Python-Refresher-Notes.html" target="_blank">Click here</a>
- `GITHUB` : <a href="https://github.com/prasanth-ntu/prasanth-ntu.github.io/blob/master/html/ML-Course/Python-Refresher/Python-Refresher-Notes.ipynb" target="_blank">Click here</a>

<a id="Introduction"></a>
# Introduction

<p style="font-size:125%"><b>Topics Covered</b></p>


1. [Python Basics](#Python Basics) <br>
2. [Flow Control](#Flow Control) <br>
3. [Functions](#Functions) <br>
4. [Lists](#Lists) <br>
5. [Tuples](#Tuples) <br>
6. [Dictionaries](#Dictionaries) <br>
7. [Strings](#Strings) <br>
8. [Sample Projects](#Sample Projects) <br>
9. [Packages used](#Packages used) <br>

We have to learn some basic programming concepts before doing anything in Maching Learning or Data Science or any Projects.

This notebook is created on the presumption that you have some basic grounding on programming world, with some idea on `variables & data types, arrays, flow conditions - if | else | elif | while | for | break | continue, importing libraries & functions, Functions - creating functions | passing arguments | returning values`.

TIP: Visit <a href="http://pythontutor.com/" target="_blank">Python Tutor Visualizer </a> to visualise the code and understand what happens in the behind the screen when each line of Python code runs.

<a id="Python Basics"></a>
# Python Basics

## Entering expressions

In [1]:
2+2

4

**Commonly used math operators**
- Addition 
- Subtraction
- Multiplication
- Division
- Integer Division
- Moduls/ Remainder
- Exponent/ Power

**Order of Precedence**

The order of operations (also called precedence) of Python math operators is similar to that of mathematics. The ** operator is evaluated first; the *, /, //, and % operators are evaluated next, from left to right; and the + and - operators are evaluated last (also from left to right)

In [15]:
2+3*6

20

In [16]:
(2 + 3) * 6

30

In [17]:
2**5

32

In [25]:
22/7

3.142857142857143

In [26]:
22//7

3

In [27]:
22 % 7

1

## Common data types

**Common Data Types**
- Integer - `int`
    - e.g. `0,50,-100`
- Floating-Point - `float`
    - e.g. `1.25, 3.14, -1.0, --0.5, 0.0`
- String - `str`
    - e.g. `'a', 'aa', 'aaa', 'Hello!', '11 cats'`
- Boolean - `bool`
    - e.g. `True, False`

String can be enclosed in single or double quotes

## String concatenation & Replicaiton

The meaning of an operator (e.g. `+`) may change based on the data types of the values next to it

In [23]:
# Addition for int or float
1 + 2

3

In [22]:
# Concatenation for string data type
'Bruce' + 'Wayne'

'BruceWayne'

 <p style="color:red;">If you try to use the + operator on a string and an integer value, Python will not know how to handle this, and it will display an error message</p>.

In [29]:
'Bruce' + 42

TypeError: must be str, not int

The `*` operator when used on one string value and one integer value becomes string replication operator.

In [31]:
2*5

10

In [30]:
'Batman'*5

'BatmanBatmanBatmanBatmanBatman'

**Varaibles**
- It's like box in the computerâ€™s memory where we can store values

**Variable Names** are case sensitive.<br>We  can name a variable anything as long as it obeys the following three rules:

- It can be only one word.
- It can use only letters, numbers, and the underscore `_` character.
- It canâ€™t begin with a number.

e.g. of *invalid variable names*: 	
`current-balance, current balance 4account, total_$um, 'batman'`

## `Hello world` - First Python program

In [4]:
# This program says hello and asks for my name.

print('Hello world!')
print('What is your name?')    # ask for their name
myName = input()
print('It is good to meet you, ' + myName)
print('The length of your name is:')
print(len(myName))
print('What is your age?')    # ask for their age
myAge = input()
print (type(myAge))
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

Hello world!
What is your name?
James Bond
It is good to meet you, James Bond
The length of your name is:
10
What is your age?
50
<class 'str'>
You will be 51 in a year.

### Program Breakdown

#### Comments

The following line is called a comment. Python ignores comments, and you can use them to write notes or remind yourself what the code is trying to do. Any text for the rest of the line following a hash mark `#` is part of a comment.

In [5]:
# This program says hello and asks for my name.

To comment across multiple lies, we can use triple quotes (could be single `'''` or double `"""`)

In [193]:
'''This line is part of multine comment

This line is also part of multiline comment

Again, this line as well is a multiline comment'''

print ('Hello')

Hello

#### `print()` function

The `print()` function displays the `string` value inside the parentheses on the screen. Notice that the quotes are not printed to the screen. They just mark where the string begins and ends; they are not part of the string value.

In [6]:
print('Hello world!')
print('What is your name?')    # ask for their name

Hello world!
What is your name?

#### `input()` function

The `input()` function waits for the user to type some text on the keyboard and press ENTER key.
The user input will then be stored in `myName` variable

In [7]:
myName = input()

Gandolf the Gray

The expression `'It is good to meet you, ' + myName` is evaluated and is `print`ed on the screen.

In [8]:
print('It is good to meet you, ' + myName)

It is good to meet you, Gandolf the Gray

#### `len()` function

The `len()` function returns the number of characters in the given string.

In [9]:
print('The length of your name is:')
print(len(myName))

The length of your name is:
16

#### type() function

The `type()` function returns the data type of the value given

In [7]:
print('What is your age?')    # ask for their age
myAge = input()
print (type(myAge))           # the input functions usually returns a string data type

What is your age?
50
<class 'str'>

#### `str(), int(), float()` functions

These functions are used to change the data types of the values. <br>
As the `input()` function returns `str` data, `myAge` variable is of `str` data type. <br>
To add a numerical value to it, the value should be converted to `int`.<br> 
After performing the addition, the `int` value is converted back to `str` again so that it can be concatenated with other strings.

In [8]:
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

50

<a id="Flow Control"></a>
# Flow Control

## `and,or,not` and `<,>,<=,>=,==,!=`

- Boolean Values: `True, False`
- Boolean operators: `and,or,not`
    - returns `True` or `False`
- Comparison operators: `<, >, <=, >=, ==, !=`
    - returns `True` or `False`

In [14]:
5 > 6

(False, True, False)

In [20]:
5 <= 6, 3>5, 3!=5, 3 == 5

(True, False, True, False)

In [17]:
5<6 and 3>5, 5<6 or 3>5

(False, True)

In [12]:
not (True), not(False)

(False, True)

## Flow control

### `if,else,elif`

#### `if`

- When `if` condition evalues to `True`, the block of statement indented inside will get executed. 
- The block can be indented (pushed in) by *`Tab`*. The block can be deindented by *`Shift+Tab`*

*Note: There should be atleast one line of indented code after `if` condition*

In [30]:
age = 5
if age < 10:                       # age < 10 evaluates to True      
    print ('age is less than 10')  # if True, this code will get executed

age is less than 10

In [31]:
age = 15
if age < 10:                       # age < 10 evaluates to False             
    print ('age is less than 10')  # Doesn't get printed as age variable us more than 10

#### `else`

- When `if` condition evalues to `True`, the block of statement indented inside `if` will get executed.
- When it evaluates to `False`, the  block of statement indented inside `else` will get executed.

In [32]:
age = 18
if age < 18:                     
    print ('You are not an adult')
else:
    print ('You are an adult')

You are an adult

#### `elif`

- When `if` condition evalues to `True`, the block of statement indented inside `if` will get executed.
- When it fails, the `elif` condition will be evaluated and if it turns out to be `True`,  the block of statement indented inside `elif` will get executed.
- When both `if` and `elif` evaluates to `False`, the  block of statement indented inside `else` will get executed.

In [37]:
age = 10
if age > 18:
    print ('You are  an adult')
elif age > 12:
    print ('You are a teenager')
else:
    print ('You are neither adult nor teen. Just a kid!')

You are neither adult nor teen. Just a kid!

We can have multiple `elif` statements after an `if` statement. In the entire combo, `if-elseif-else` combo, only one of the condition will be exeucted. The order of execution is from top to bottom.

In [41]:
age = 15
if age >60 :
    print ('You are very old')
elif age>18:
    print ('You are an adult')
elif age > 12:
    print ('You are a teenager')
else:
    print ('You are neither adult nor teen. Just a kid!')

You are a teenager

#### nested `if`

We can have `if-else` inside another `if-else` and we can keep nesting them. The deeper the nest gets, the harder it will be to debug and trace.

In [44]:
user_name = input('Enter user name: ')      # james bond
pass_word = input('Enter pass word: ')      # 007
if user_name == 'james bond':
    if pass_word == '007':
        print ('Access granted')
    else:
        print ('Access denied. Wrong password')
else:
     print ('Access denied. Wrong username')

Enter user name: james bond
Enter pass word: 008
Access denied. Wrong password

The above code could be re-witten as follows using `boolean` and `comparison operators` making it easy to read and follow

In [46]:
user_name = input('Enter user name: ')      # james bond
pass_word = input('Enter pass word: ')      # 007
if user_name == 'james bond' and pass_word == '007':
    print ('Access granted')
else:
    print ('Access denied. Wrong login details')

Enter user name: james bond
Enter pass word: 007
Access granted

### Loops

#### `while` loop

- `while` loop keeps on running as long as the condition evaluates to `True`

In [1]:
i = 10
print ('Loop start')
while i>0:            # while loop evaluates to true as long as i>0
    print (i)
    i = i - 1         # everytime, the loop runs, value of `i` decreases by 1
print ('Loop end')    # This line of code is outside the loop. Will run only when the while loop ends

Loop start
10
9
8
7
6
5
4
3
2
1
Loop end

What happens if you run **`while False:`** and **`while True:`**?

#### for loop

- `for` loop runs for a fixed number of iterations.
- Here, the `range(10)` returns a list of numbers from 0 to 9.
- Everytime, the `for` loop runs, the iterator variable `i` takes the next available value from the list.

In [3]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

- Beside using `range()` function in `for` loop, we can use many other data types.
- Here, I have used `list` type containing list of 4 names and used `for` loop to read through all names in list, one at a time .

*Note: We will see more about list data types later.*

In [5]:
for name in ['Batman', 'Superman', 'Ironman', 'Thanos']:
    print (name)

Batman
Superman
Ironman
Thanos

- We can also loop through each element in a `string` data type

*Note: We will see more about string data types later.*

In [6]:
for letter in 'Bruce Wayne':
    print (letter)

B
r
u
c
e

W
a
y
n
e

#### `break`

`break` is used to exit the loop (`while` or `for`) the program is currently evaluating prematurely based on certain conditions.

In [9]:
print ('Loop start')
for letter in 'Bruce Wayne':
    print (letter)
    if letter == 'e':
        print ('Break the loop')
        break                     # this command breaks the for loop (takes the program outside the loop)
print ('Loop end')

Loop start
B
r
u
c
e
Break the loop
Loop end

#### `continue`

- `continue` is used to skip the execution of code inside the loop (`for` or `while`) and move on to next iteration on certain conditions.

The program below skips printing the vowel letters and prints the rest of the consonants.

In [11]:
print ('Loop start')
for letter in 'Bruce Wayne':
    if letter == 'a' or letter =='e' or letter =='i' or letter =='o' or letter =='u':
        continue      # this command skips lines inside the for loop below this line and starts the next iteration
    print (letter)
               
print ('Loop end')

Loop start
B
r
c

W
y
n
Loop end

### `in`

- The `in` operator can be used to check whether a value is inside another and it evaluates to `bool` (`True`,`False`)

*Note: We will see more about `in`, `str` & `list` data types later.*

In [14]:
'a' in 'James'

True

In [20]:
'b' in 'James', 'Ja' in 'James', 'James' in 'James', 'JameS' in 'James'

(False, True, True, False)

In [13]:
print ('Loop start')
for letter in 'Bruce Wayne':
    if letter in 'aeiou':          
        continue      # this command skips lines inside the for loop below this line and starts the next iteration
    print (letter)
               
print ('Loop end')

Loop start
B
r
c

W
y
n
Loop end

<a id="Functions"></a>
# Functions

## `import`

**built-in functions**
- Till now, we have used a basic set of functions like `print(), inpu()t, len(), str(), int(), float()`.

**standard library**
- Set of modules that conatins related group of functions embedded together.
- e.g.
    - `math` module contains mathematic related functions.
    - `random` module containsrandom number related functions.       

> Functions are often used as *"Black Boxes"*. Often, all we need to know is its inputs (parameter values), outputs and its generic function. We don't have to burden to understand each and every function and the code inside it.

**`random`** library

In [24]:
import random                # Before using a function in standard library, we have to use import _______
print (random.randint(1,10)) # Randomly generates an integer from 1 to 10

5

In [23]:
print (random.randint(1,10))  # Randomly generates an integer from 1 to 10

1

**`math`** library

In [30]:
import math
math.sqrt(2)

1.4142135623730951

In [31]:
math.pi

3.141592653589793

## Function - `def`

- A `function` is like mini program inside a program.
- The idea behind function is to avoid duplicating code.
- Deduplicaiton makes our code shorter, easier to read and update.

### fn - without `arguments` and `return`

In [47]:
# create a function named 'welcome'. It neither take any input and nor returns any output
def welcome():
    print ('hi')
    print ('mi casa es tu casa')

In [46]:
# invoking/ calling a function
welcome()

hi
mi casa es tu casa

In [43]:
welcome()
welcome()

hi
mi casa es tu casa
hi
mi casa es tu casa

### fn - with `arguments`

In [51]:
def hello(name):
    print ('Hello ' + name + '!')
    print ('Bienvenido a casa')

In [52]:
hello('Scare Crow')

Hello Scare Crow!
Bienvenido a casa

### fn - with `return`

- e.g.
    - `len()` - returns the lenght of the argument passed inside
    - `len('Python')` >>> 5

In [54]:
def greet(lan):
    if lan == 'english':
        return 'Welcome'
    elif lan == 'spanish':
        return 'Bienvenido'
    elif lan == 'french':
        return 'Bonjour'
    else:
        return 'Welcome'

In [56]:
greet('english')

'Welcome'

In [59]:
greet('french')

'Bonjour'

## Local and Global scope

- *Local scope* - Variables inside the function exist in local scope
    - Created whenever a function is called
    - Variables created inside a function eist within local scope and they cannot be used outside the function
    - When the function returns/ ends, the scope is closed/ destroyed along with the variables inside it
    - The next time we call the function, the local scope is created again and they wont remember the previous values 
    
- *Global scope* - Variables that are assigned outside all functions exist in global scope
    - Created when our program begins
    - When program ends, the global scope is destroyed

A variable must be either in local or global scope, cannot be both. 

*Note: We will see more about `Local and Global scope` later.*

<a id="Lists"></a>
# `Lists`

 We have already seen `bool`, `int`, `float`, `str` built-in data types.`list` <span style="color:green;"> is my personal favortie data type in Python </span>. Two other cool built-in data types that we will explore in further sections are `tuples` and `dict`.

- `list` will be very helpful to handle large amount of data and hierarchical structures.
- `str` and `tuple` have lot of `list` like features which will also be in further sections below.
- `list` can contain another `list` and many other different data types inside it.

## List data type
- Variable that contains multiple values in an ordered sequence
- They start and end with `[` `]`
- Values inside the `list` are called as `items`

In [64]:
animals = ['cat', 'bat', 'rat', 'cow', 'dog']

In [65]:
animals

['cat', 'bat', 'rat', 'cow', 'dog']

## List index
**Getting individual values in a List with indices**

- The list index starts from 0
- <p style="color:red;">The index no can only be integers </p>

<p><i>To ponder : What happens when you try to access an element with index number that doesn't exist in the list?</i> <big><big>ðŸ¤”</big></big></p>

In [66]:
animals[0]

'cat'

In [67]:
animals[1]

'bat'

In [68]:
animals[1.0]

TypeError: list indices must be integers or slices, not float

In [83]:
animals[-1]    # Go in reverse direction

'rat'

## Change list value using index

In [92]:
animals = ['cat', 'bat', 'rat', 'cow', 'dog']

In [93]:
animals

['cat', 'bat', 'rat', 'cow', 'dog']

In [95]:
animals[1] = 'horse'     # Override the item in index 1 of list 
print (animals)

['cat', 'horse', 'rat', 'cow', 'dog']

## List of List

In [76]:
num = [[1,2,3,4,5],[6,7,8,9,10]]

In [78]:
num[0]

[1, 2, 3, 4, 5]

In [80]:
num[0][0]

1

In [81]:
num[1][0]

6

## List slice

Syntax: `list_name[start:stop(exclusive):jump]`
Default values
- `start = 0`
- `stop = last item in list`
- `jump = 1`

In [71]:
animals = ['cat', 'bat', 'rat', 'cow', 'dog', 'rat']
animals[0:2]    # Returns list items from index = 0 to index = 2-1

['cat', 'bat']

In [72]:
animals[0:5:2]

['cat', 'rat', 'dog']

In [84]:
animals[0:5:1]

['cat', 'bat', 'rat', 'cow', 'dog']

In [87]:
animals[::]

['cat', 'bat', 'rat', 'cow', 'dog', 'rat']

In [89]:
animals[::-1]   # Traverse in reverse direction

['rat', 'dog', 'cow', 'rat', 'bat', 'cat']

## `for` loop with list

In [91]:
animals = ['cat', 'bat', 'rat', 'cow', 'dog', 'rat']
for animal in animals:
    print (animal)

cat
bat
rat
cow
dog
rat

## `len()`

In [96]:
animals = ['cat', 'bat', 'rat', 'cow', 'dog', 'rat']
len(animals)

6

## List concatenation

In [99]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
birds = ['crow', 'pigeon', 'sparrow']

In [100]:
animals + birds      # Joins the 2 list and returns a new list

['cat', 'rat', 'cow', 'dog', 'rat', 'crow', 'pigeon', 'sparrow']

## `del`

In [104]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
del animals[2]       # delete the list item at index 2
animals

['cat', 'rat', 'dog', 'rat']

## `in` & `not in` operators

In [106]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
print ('cat'in animals)
print ('crow' not in animals)

True
True

## `list` methods

### `append()` 
- Add Single Element to The end of the List

In [114]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
animals.append('Gorilla')
print (animals)

['cat', 'rat', 'cow', 'dog', 'rat', 'Gorilla']

 ### `insert()` 
 - Inserts element to the list in given index

In [115]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
animals.insert(2, 'Gorilla')
print (animals)

['cat', 'rat', 'Gorilla', 'cow', 'dog', 'rat']

### `remove()`
- searches for the given element in the list and removes the first matching element.

In [116]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
animals.remove('rat')
print (animals)

['cat', 'cow', 'dog', 'rat']

### `index()` 
- searches for given element in the list and returns its index. If the same element is present more than once, `index()` method returns its smallest/first position.

In [117]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
print (animals.index('rat'))

1

### `reverse()` 
-  reverses the elements of a given list.

In [119]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
animals.reverse()
print (animals)

['rat', 'dog', 'cow', 'rat', 'cat']

### `sort()` 
- sorts the elements of a given list in a specific order - Ascending or Descending.

In [120]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
animals.sort()
print (animals)

['cat', 'cow', 'dog', 'rat', 'rat']

In [121]:
animals.sort(reverse=True)
print (animals)

['rat', 'rat', 'dog', 'cow', 'cat']

### `count()` 
- the number of times given element appears in the list.

In [125]:
animals = ['cat', 'rat', 'cow', 'dog', 'rat']
print (animals.count('rat'))

2

For more details on list, visit the <a href="https://docs.python.org/3/tutorial/datastructures.html" target="_blank">Python documentation</a> or <a href="https://www.programiz.com/python-programming/methods/lis" target="_blank">Python List Methods</a>.

<a id="Tuples"></a>
# `Tuples`

## `tuple` data type

The `tuple` data type is identicial to `list` data type, except in 2 ways
1. Tuples are identified with paranetheses `(` and `)` whereas lists are identified by sqaure brackets `[` and `]`
2. Tuples are immutable
    - Tuples cannot have their values modified, removed or appended
    
If you have only one value in the tuple, indicate that by adding a trailing comma after the value inside
- e.g. 
    `('hello',)` is a tuple with only one value

In [128]:
tuple_1 = ('easter_eggs', 1, 3.14)
print (tuple_1)

('easter_eggs', 1, 3.14)

In [ ]:
type(tuple)

In [130]:
tuple_1[0]

'easter_eggs'

In [132]:
tuple_1[2]

3.14

In [133]:
tuple_1[2] = 'Cant change the tuple item value as they are immutable'

TypeError: 'tuple' object does not support item assignment

## List and Tuples

**Convert list to tuple**

In [144]:
animals_list = ['cat', 'rat', 'cow', 'dog', 'rat']
animals_tuple = tuple(animals_list)
animals_tuple

('cat', 'rat', 'cow', 'dog', 'rat')

In [142]:
type(animals_list), type(animals_tuple)

(list, tuple)

**Convert tuple to list**

In [147]:
animals = ('cat', 'rat', 'cow', 'dog', 'rat')
print (list(animals))

['cat', 'rat', 'cow', 'dog', 'rat']

## `for` loop with `tuple`

In [145]:
animals = ('cat', 'rat', 'cow', 'dog', 'rat')

for animal in animals:
    print (animal)

cat
rat
cow
dog
rat

## `len ()`

In [148]:
animals = ('cat', 'rat', 'cow', 'dog', 'rat')
print (len(animals))

5

## `in` & `not` in operators

In [150]:
animals = ('cat', 'rat', 'cow', 'dog', 'rat')
print ('cat' not in animals)

False

## Multiple data assignment using `tuple`

In [171]:
a = 1
b = 2
a,b = b,a               # swap a,b values using tuple assignemnt
print ('a = ' + str(a))
print ('b = ' + str(b))

a = 2
b = 1

In [165]:
name,height, weight = ('Christian Bale', 1.86, 90)

In [167]:
print (name)
print (height)
print (weight)

Christian Bale
1.86
90

<a id="Dictionaries"></a>
# Dictionaries

We have already seen `bool`, `int`, `float`, `str`, `list`, `tuple` built-in data types. `dict` <span style="color:green;"><i>(dictionary) is my second favortie data type in Python, next to </i></span>`list`.

- `dict` provides flexible way to access and organize data.

In [152]:
animal_sounds = {'cat': 'meow',
                 'dog': 'lol',
                 'cow': 'moo',
                 'ducks': 'quack'
                }
print (animal_sounds)

{'cat': 'meow', 'dog': 'lol', 'cow': 'moo', 'ducks': 'quack'}

In [153]:
animal_sounds['cow']

'moo'

*To ponder : What happens when you try to access an element with key that doesn't exist in tuple?* <big>ðŸ¤”</big>

## `list` vs `dict`

- In `list` data type, we access its elements using the index number that starts from `0`.
- On the other hand, in `dict` data type, we access the `items/values` using `keys`.
    - Indexes for dictionary are called `keys`.
    - Key with its associated value is called `key-value` pair.
- Unlike `list`, 
    - dictionary `keys` can be of many different data types. 
    - dictionary `items` are unordered.
    - dictionaries cannot be sliced.
    
- *Though dictionaries are not ordered, its flexibility allows to orgranize data in powerful ways.*

## `keys(), values(), items()`

These 3 dictionary methods will return list like values which can be used in loops.

In [155]:
animal_sounds = {'cat': 'meow',
                 'dog': 'lol',
                 'cow': 'moo',
                 'ducks': 'quack'
                }
print (animal_sounds)

{'cat': 'meow', 'dog': 'lol', 'cow': 'moo', 'ducks': 'quack'}

In [156]:
animal_sounds.keys()          # returns a list of keys

dict_keys(['cat', 'dog', 'cow', 'ducks'])

In [157]:
animal_sounds.values()        # returns a list of values

dict_values(['meow', 'lol', 'moo', 'quack'])

In [159]:
animal_sounds.items()         # returns a list of key-value pairs

dict_items([('cat', 'meow'), ('dog', 'lol'), ('cow', 'moo'), ('ducks', 'quack')])

In [163]:
for key in animal_sounds.keys():
    print (key, ',', animal_sounds[key])

cat , meow
dog , lol
cow , moo
ducks , quack

In [164]:
for key,value in animal_sounds.items():
    print (key, ',', value)

cat , meow
dog , lol
cow , moo
ducks , quack

## `in` & `not` in operators

In [177]:
data = {'name':'Christian Bale',
        'height': 1.86, 
        'weight': 90}
print (data)

{'name': 'Christian Bale', 'height': 1.86, 'weight': 90}

In [181]:
90 in data.keys(), 90 in data.values()

(False, True)

## `get()`

- Used to check whether a key exists in a dictionary before accessing the key's value
- `get()` method takes 2 arguments
    - `key` of the value to retrieve
    - `fallback value` to return if key doesn't exist

In [183]:
data = {'name':'Christian Bale',
        'height': 1.86, 
        'weight': 90}
print (data)

{'name': 'Christian Bale', 'height': 1.86, 'weight': 90}

In [184]:
data['age']           # without get() method, there's no fallback value

KeyError: 'age'

In [187]:
data.get('age', 30)    # As the dictionary doesn't have age key, it returns the fall back value provided

30

In [186]:
data.get('name', 'Unknown')

'Christian Bale'

<a id="Strings"></a>
# Strings

We have already seen `bool`, `int`, `float`, `str`, `list`, `tuple`& `dict` built-in data types. `str` <span style="color:green;"><i>(string) is my third favortie data type in Python, next to </i></span>`list` & `dict`.

Handling text such as *emails, documents, web scraping* is one of the most commong forms of data our program needs to handle. With Python, we can do lot of cool stuff with strings.

## `str` data type

- `str` data type starts and ends with quotes (could be single or double).
- `str` data type is immutable
    - i.e. Values once assinged cannot be changed through indexing.

In [190]:
str1 = 'hi welcome to my home'
str2 = "hola bienvenido a mi casa"

In [191]:
print (str1, type(str1))
print (str2, type(str2))

hi welcome to my home <class 'str'>
hola bienvenido a mi casa <class 'str'>

## `len ()`

In [215]:
str1 = 'hi welcome to my home'
len(str1)

21

**emptry string**

In [214]:
empty_string = ''          # No characters inside empty string 
print (len(empty_string))

0

## `str` index

- Indexing a string to get the corresponding character is similar to indexing list or tuple data type.
- Index no starts from 0

In [195]:
batman = 'Bruce Wayne!'
print (batman)

Bruce Wayne!

<table style="max-width:50%;margin-left:20px;border: 1px solid black;">
    <caption style="text-align: center"><b> String Index Position </b></caption>
    <tr>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white">Letter</td>
        <td>B</td>
        <td>r</td> 
        <td>u</td>
        <td>c</td>
        <td>e</td>
        <td> </td>
        <td>W</td>
        <td>a</td>
        <td>y</td>
        <td>n</td>
        <td>e</td>
        <td>!</td>
    </tr>
    <tr style="color:blue;">
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white">Index no</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
    </tr>
    <tr style="color:green;">
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white">Index no (Reverse)</td>
        <td>-12</td>
        <td>-11</td>
        <td>-10</td>
        <td>-9</td>
        <td>-8</td>
        <td>-7</td>
        <td>-6</td>
        <td>-5</td>
        <td>-4</td>
        <td>-3</td>
        <td>-2</td>
        <td>-1</td>
    </tr>
</table>

The space and exclamation point are included in the string character and is counted as one character/ letter

In [198]:
batman[0]

'B'

In [199]:
batman[-12]

'B'

In [201]:
batman[5]

' '

 As string data type is immutable, an individual index position cannot be assigned a new value.
 In order to  do that the entire string data type should be overwritten

In [202]:
batman[5] = '-'

TypeError: 'str' object does not support item assignment

In [204]:
batman = 'Bruce-Wayne!'            # Overwritting the string data type with new vale
print (batman)

Bruce-Wayne!

## `str` slicing

`str` slicing is very similar to slicing  a `list` data type

In [205]:
batman = 'Bruce Wayne!'
print (batman[1:5])

ruce

`str` slicing returns an empty string when there is no element to slice in the given range.

In [211]:
print ('-' + batman[12:15] + '-')       # returns an empty string

--

## `in` & `not in` operators

- Works similar to list data type
- They check whether first string can be found withing second string

In [218]:
batman = 'Bruce Wayne!'
print ('Bruce' in batman)

True

In [220]:
print ('bruce' in batman)    # Python is case-sensitive

False

In [221]:
print ('Wayne' not in batman)

False

## `isXXX()` methods

There are several string methods that have names beginning with the word `is`. These methods return a `bool` value that describes the nature of the string. Here are some common `isX` string methods:

- `isupper()` returns `True` if the string has at least one letter and all the letters are uppercase.

- `islower()` returns `True` if the string has at least one letter and all the letters are lowercase.

- `isalpha()` returns `True` if the string consists only of letters and is not blank.

- `isalnum()` returns `True` if the string consists only of letters and numbers and is not blank.

- `isdecimal()` returns `True` if the string consists only of numeric characters and is not blank.

- `isspace()` returns `True` if the string consists only of spaces, tabs, and new-lines and is not blank.

- `istitle()` returns `True` if the string consists only of words that begin with an uppercase letter followed by only lowercase letters

WHY WE NEED IT? The `isX` string methods are helpful when you need to validate user input & to make the code smarter and more generic/ fool proof.

In [225]:
spam = 'Hello world!'
spam.islower()

False

<a id="Sample Projects"></a>
# Sample Projects

## `tic-tac-toe`

In [188]:
# -*- coding: utf-8 -*-
"""
Created on Thu Jun 14 21:20:40 2018

@author: Prasanth
"""

# Create an empty tic tac toe board
theBoard = {1: ' ', 2: ' ', 3: ' ',
            4: ' ', 5: ' ', 6: ' ',
            7: ' ', 8: ' ', 9: ' '}

# List of winning combinations
winningCombos = [[1,2,3],
                 [4,5,6],
                 [7,8,9],
                 [1,4,7],
                 [2,5,8],
                 [3,6,9],
                 [1,5,9],
                 [3,5,7]]

def printBoard(board):
    print (board[1] + '|' + board[2] + '|' + board[3] + '\n' + 
           '-+-+-\n' + 
           board[4] + '|' + board[5] + '|' + board[6] + '\n' + 
           '-+-+-\n' + 
           board[7] + '|' + board[8] + '|' + board[9])
    
def resetBoard():
    theBoard = {1: ' ', 2: ' ', 3: ' ',
                4: ' ', 5: ' ', 6: ' ',
                7: ' ', 8: ' ', 9: ' '}
    return theBoard
    
printBoard(theBoard)
    
player = 'X' 
winFlag = 0
counter = 0

while True:
    try:
        user_input = input('Turn for ' + player + ". Move on which space? ")
        user_input = int(user_input)
        if  theBoard.get(user_input,'') != ' ':
            print ('Invalid input : Try again')
            continue
    except ValueError:
        print ('Invalid input : Try again')
        continue
    except:
        quit()
        break

    theBoard[user_input] = player
    
    printBoard(theBoard)
    
    # If the player wins, inform
    for combo in winningCombos:
        if theBoard[combo[0]] == theBoard[combo[1]] == theBoard[combo[2]] == player:
            print ("player " + player + " wins")
            winFlag = 1 
            break
    
    counter += 1
    
    if winFlag == 1 or counter == 9:
        user_input = input('Game over. Do you want to continue (y or n): ')
        if user_input == 'n' :
            break
        else:
            winFlag = 0
            counter = 0
            theBoard = resetBoard()
            print ('\n'*3)
            printBoard(theBoard)
            
    # toggle player
    if player == 'X':
        player = 'O'
    else:
        player = 'X'

 | |
-+-+-
 | |
-+-+-
 | |
Turn for X. Move on which space? 1
X| |
-+-+-
 | |
-+-+-
 | |
Turn for O. Move on which space? 2
X|O|
-+-+-
 | |
-+-+-
 | |
Turn for X. Move on which space? 3
X|O|X
-+-+-
 | |
-+-+-
 | |
Turn for O. Move on which space? 4
X|O|X
-+-+-
O| |
-+-+-
 | |
Turn for X. Move on which space? 5
X|O|X
-+-+-
O|X|
-+-+-
 | |
Turn for O. Move on which space? 6
X|O|X
-+-+-
O|X|O
-+-+-
 | |
Turn for X. Move on which space? 7
X|O|X
-+-+-
O|X|O
-+-+-
X| |
player X wins
Game over. Do you want to continue (y or n): y




 | |
-+-+-
 | |
-+-+-
 | |
Turn for O. Move on which space? 2
 |O|
-+-+-
 | |
-+-+-
 | |
Turn for X. Move on which space? 3
 |O|X
-+-+-
 | |
-+-+-
 | |
Turn for O. Move on which space? 3
Invalid input : Try again
Turn for O. Move on which space? 2
Invalid input : Try again
Turn for O. Move on which space? 4
 |O|X
-+-+-
O| |
-+-+-
 | |
Turn for X. Move on which space? 1
X|O|X
-+-+-
O| |
-+-+-
 | |
Turn for O. Move on which space? 5
X|O|X
-+-+-
O|O|
-+-+-
 | |
Turn for X. Move on which space? 6
X|O|X
-+-+-
O|O|X
-+-+-
 | |
Turn for O. Move on which space? 9
X|O|X
-+-+-
O|O|X
-+-+-
 | |O
Turn for X. Move on which space? x
Invalid input : Try again
Turn for X. Move on which space? 8
X|O|X
-+-+-
O|O|X
-+-+-
 |X|O
Turn for O. Move on which space? 7
X|O|X
-+-+-
O|O|X
-+-+-
O|X|O
Game over. Do you want to continue (y or n): n

## `Encryption & Decryption`

Will be added soon

<a id="Packages used"></a>
# Packages used in this series

In [1]:
import sys
print ("Python version: {}".format(sys.version))

Python version: 3.5.2 (default, Nov 23 2017, 16:37:01)
[GCC 5.4.0 20160609]

In [3]:
import numpy as np
print ("Numpy version: {}".format(np.__version__))

Numpy version: 1.14.0

In [5]:
import matplotlib
print ("Matplotlib version: {}".format(matplotlib.__version__))

Matplotlib version: 2.1.2

In [7]:
import sklearn
print ("Scikit-learn version: {}".format(sklearn.__version__))

Scikit-learn version: 0.19.1

In [8]:
import scipy
print ("Scipy version: {}".format(scipy.__version__))

Scipy version: 1.0.0

In [2]:
import pandas as pd
print ("Pandas version: {}".format(pd.__version__))

Pandas version: 0.22.0

In [9]:
import mglearn
print ("Mglearn version: {}".format(mglearn.__version__))

Mglearn version: 0.1.6

In [13]:
import graphviz
print ("Graph viz verison: {}".format(graphviz.__version__))

Graph viz verison: 0.8.3

In [10]:
import tensorflow as tf
print ("Tensorflow version: {}".format(tf.__version__))

Tensorflow version: 1.5.0