<p style="font-size:110%">In this post, we will learn about
<ul style="font-size:110%">				
<li><b style="font-size:110%">Data Types</b> - How computers sees the data/ information?</li>
<li><b style="font-size:110%">Operations</b> - How does python work on (operates) on different data types?</li>
<li><b style="font-size:110%">Variables</b> - How does computers store information in their memory?</li> 
<li><b style="font-size:110%">Output</b> - How to print or display the output on the screen?</li> 
<li><b style="font-size:110%">Input</b> - How to get input from the user into our computer?</li> 
</ul>
</p>

# Common data types

The way computers sees the data/information is very different from how we as humans see it. So, we need to understand a bit about if before learning to program. 

In the table below, I have summarized the 4 most commonly used data types in Python with few examples.

<table style="max-width:100%;margin-left:20px;border: 1px solid black; font-size:110%">
    <caption style="text-align: center"><b> Basic Data Types in Python </b></caption>
    <tr>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Data Type</td>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Python keyword</td>  
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Example</td>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Explanation</td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">integer</td>
        <td style="text-align: center"><code>int</code></td>
        <td style="text-align: center"><code>2, 10, 100, 0, -5838</code></td>
        <td style="text-align: center">Integers are just numbers that we normally use in daily life.</td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">float</td>
        <td style="text-align: center"><code>float</code></td>
        <td style="text-align: center"><code>2.10, 10.0, 100.8712, 0.0, -5838.12</code></td>
        <td style="text-align: center">Floats are numbers with decimal values. <br>Any number with a . (dot) will be treated as float by Python.</td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">string</td>
        <td style="text-align: center"><code>str</code></td>
        <td style="text-align: center"><code>"hi', "hello", "I am so cool", "40.0, "-30"</code></td>
        <td style="text-align: center">Anything inside single or double quotes will be treated as string in Python. <br>Usually, letter, words and symbols should always go inside the quotes as a string.</td>
    </tr>
        </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">Boolean</td>
        <td style="text-align: center"><code>bool</code></td>
        <td style="text-align: center"><code>True, False</code></td>
        <td style="text-align: center">Boolean data type has only two values. <br>True is similar to 1 (yes) and False is similar to 0 (no).</td>
    </tr>
</table>

## type() function

<p>In fact, Python has a built-in command called <code>type()</code> to find the type of any data! <br>Let's see few examples below. Feel free to modify the data and check the results.</p>

In [3]:
print (type(10))

<class 'int'>

In [4]:
print (type(3.1415))

<class 'float'>

In [9]:
print (type('Hello World!'))

<class 'str'>

In [6]:
print (type(True))

<class 'bool'>

<a id="Python Basics"></a>
# Operators

<p>We can do basic math operations in <code>python</code> pretty easily. All that we have to figure out is the symbol to be used for each math operation.</p>

## Entering expressions

In [10]:
2+2

4

**Commonly used math operators**
- Addition `+`
- Subtraction  `-`
- Multiplication `*`
- Division `/`
- Integer Division `//`
- Moduls/ Remainder `%`
- Exponent/ Power `**`

**Order of Precedence**

The order of operations (also called precedence) of Python math operators is similar to that of mathematics. The ** operator is evaluated first; the *, /, //, and % operators are evaluated next, from left to right; and the + and - operators are evaluated last (also from left to right)

In [15]:
2+3*6

20

In [16]:
(2 + 3) * 6

30

In [17]:
2**5

32

In [18]:
22/7

3.142857142857143

In [19]:
22//7

3

In [20]:
22 % 7

1

The meaning of an operator (e.g. `+`) may change based on the data types of the values next to it

In [21]:
# Addition for int or float
1 + 2, 1.2 + 2.4

(3, 3.5999999999999996)

## String concatenation & Replication

<p><code>+</code> not only performs addition on numbers. It also performs concatenation (combine or join operation) on two or more strings. </p>

In [22]:
# Concatenation for string data type
'Bruce' + 'Wayne'

'BruceWayne'

 <p style="color:red;">If you try to use the + operator on a string and an integer value, Python will not know how to handle this, and it will display an error message</p>

In [23]:
'Bruce' + 42

TypeError: must be str, not int

The `*` operator when used on one string value and one integer value becomes string replication operator.

In [24]:
2*5

10

In [25]:
'Batman'*5

'BatmanBatmanBatmanBatmanBatman'

# **Varaibles**

- It's like a box in the computer’s memory where we can store values.

**Variable Names** are case sensitive.<br>We  can name a variable anything as long as it obeys the following three rules:

- It can be only one word.
- It can use only letters, numbers, and the underscore `_` character.
- It can’t begin with a number.

e.g. of *invalid variable names*: 	
`current-balance, current balance 4account, total_$um, 'batman'`

# `Hello world` - First Python program

Let's write our first python program. The explanation for each line of code is given below as well.

In [38]:
# This program says hello and asks for my name.

print('Hello world!')
print('What is your name?')    # ask for their name
myName = input()
print('It is good to meet you, ' + myName)
print('The length of your name is:')
print(len(myName))
print('What is your age?')    # ask for their age
myAge = input()
print (type(myAge))
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

Hello world!
What is your name?
Super Man
It is good to meet you, Super Man
The length of your name is:
9
What is your age?
40
<class 'str'>
You will be 41 in a year.

### Program Breakdown

#### Comments

The following line is called a comment. Python ignores comments, and you can use them to write notes or remind yourself what the code is trying to do. Any text for the rest of the line following a hash mark `#` is part of a comment.

In [27]:
# This program says hello and asks for my name.

To comment across multiple lies, we can use triple quotes (could be single `'''` or double `"""`)

In [28]:
'''This line is part of multine comment

This line is also part of multiline comment

Again, this line as well is a multiline comment'''

print ('Hello')

Hello

#### `print()` function

The `print()` function displays the `string` value inside the parentheses on the screen. Notice that the quotes are not printed to the screen. They just mark where the string begins and ends; they are not part of the string value.

In [39]:
print('Hello world!')
print('What is your name?')    # ask for their name

Hello world!
What is your name?

#### `input()` function

The `input()` function waits for the user to type some text on the keyboard and press ENTER key.
The user input will then be stored in `myName` variable

In [40]:
myName = input()

Super Man

The expression `'It is good to meet you, ' + myName` is evaluated and is `print`ed on the screen.

In [41]:
print('It is good to meet you, ' + myName)

It is good to meet you, Super Man

#### `len()` function

The `len()` function returns the number of characters in the given string.

In [42]:
print('The length of your name is:')
print(len(myName))

The length of your name is:
9

#### type() function

The `type()` function returns the data type of the value given

In [44]:
print('What is your age?')    # ask for their age
myAge = input()
print (type(myAge))           # the input functions usually returns a string data type

What is your age?
40
<class 'str'>

#### `str(), int(), float()` functions

These functions are used to change the data types of the values. <br>
As the `input()` function returns `str` data, `myAge` variable is of `str` data type. <br>
To add a numerical value to it, the value should be converted to `int`.<br> 
After performing the addition, the `int` value is converted back to `str` again so that it can be concatenated with other strings.

In [45]:
print('You will be ' + str(int(myAge) + 1) + ' in a year.')

You will be 41 in a year.

# Task  1

Now, let's take a break from learning and start testing what we have learnt. 

- Open <code><font style="color:#FF8b33">1-Python-Notes-Exercise</font></code>  > `3. Create shapes` and follow the instructions. 
- If you are new to python `turtle`, read upon `import turtle` and `Move the turtle` written on top of the same page. 

Upon completion, return back to this section.

To view and download the *tasks* in `HTML` : <a href="https://prasanth-ntu.github.io/html/learn-python/1-Python-Notes-Exercise.html" target="_blank">Click here</a> and in `GITHUB` : <a href="https://prasanth-ntu.github.io/html/learn-python/1-Python-Notes-Exercise.ipynb" target="_blank">Click here</a>