<p style="font-size:110%">In this post, we will learn about
<ul style="font-size:110%">				
<li><b style="font-size:110%">Data Types</b> - How computers sees the data/ information?</li>
<li><b style="font-size:110%">Operations</b> - How does python work on (operates) on different data types?</li>
<li><b style="font-size:110%">Variables</b> - How does computers store information in their memory?</li> 
<li><b style="font-size:110%">Output</b> - How to print or display the output on the screen?</li> 
<li><b style="font-size:110%">Input</b> - How to get input from the user into our computer?</li> 
<li><b style="font-size:110%">Data Type Conversion</b> - How to convert data from one type to another?</li> 

</ul>
</p>

# Common data types

The way computers sees the data/information is very different from how we as humans see it. So, we need to understand a bit about if before learning to program. 

In the table below, I have summarized the 4 most commonly used data types in Python with few examples.

<table style="max-width:100%;margin-left:20px;border: 1px solid black; font-size:110%">
    <caption style="text-align: center"><b> Basic Data Types in Python </b></caption>
    <tr>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Data Type</td>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Python keyword</td>  
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Example</td>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Explanation</td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">integer</td>
        <td style="text-align: center"><code>int</code></td>
        <td style="text-align: center"><code>2, 10, 100, 0, -5838</code></td>
        <td style="text-align: center">Integers are just numbers that we normally use in daily life.</td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">float</td>
        <td style="text-align: center"><code>float</code></td>
        <td style="text-align: center"><code>2.10, 10.0, 100.8712, 0.0, -5838.12</code></td>
        <td style="text-align: center">Floats are numbers with decimal values. <br>Any number with a . (dot) will be treated as float by Python.</td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">string</td>
        <td style="text-align: center"><code>str</code></td>
        <td style="text-align: center"><code>"hi', "hello", "I am so cool", "40.0, "-30"</code></td>
        <td style="text-align: center">Anything inside single or double quotes will be treated as string in Python. <br>Usually, letter, words and symbols should always go inside the quotes as a string.</td>
    </tr>
        </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">Boolean</td>
        <td style="text-align: center"><code>bool</code></td>
        <td style="text-align: center"><code>True, False</code></td>
        <td style="text-align: center">Boolean data type has only two values. <br>True is similar to 1 (yes) and False is similar to 0 (no).</td>
    </tr>
</table>

## type() function

<p>In fact, Python has a built-in command called <code>type()</code> to find the type of any data! <br>Let's see few examples below. Feel free to modify the data and check the results.

<br><br>
<i>Note: <code>print()</code> is a built-in function in python used to show output on the screen. We will see more about it in later section of this post.</i></p>

In [3]:
print (type(10))

<class 'int'>

In [4]:
print (type(3.1415))

<class 'float'>

In [9]:
print (type('Hello World!'))

<class 'str'>

In [6]:
print (type(True))

<class 'bool'>

<a id="Python Basics"></a>
# Operators

<p>We can do basic math operations in <code>python</code> pretty easily. All that we have to figure out is the symbol to be used for each math operation.</p>

## Entering expressions

In [10]:
2+2

4

<p> The table below shows the commonly used math operators followed by example for each operator.</p>
<table style="max-width:100%;margin-left:30%;border: 1px solid black; font-size:110%">
    <caption style="text-align: center"><b> Commonly used math operators </b></caption>
    <tr>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Function</td>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Operator</td>  
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">Addition</td>
        <td style="text-align: center"><code>+</code></td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">Subtraction</td>
        <td style="text-align: center"><code>-</code></td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">Multiplication</td>
        <td style="text-align: center"><code>*</code></td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">Division</td>
        <td style="text-align: center"><code>/</code></td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">Integer Division</td>
        <td style="text-align: center"><code>//</code></td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center">Modulus or Remainder</td>
        <td style="text-align: center"><code>%</code></td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center">Exponent or Power</td>
        <td style="text-align: center"><code>**</code></td>
    </tr>
</table>

<p><b>Order of Precedence</b><br>

The order of operations (also called precedence) of Python math operators is similar to that of mathematics. The `**` operator is evaluated first; the `*, /, //, and %` operators are evaluated next, from left to right; and the <code>+</code> and <code>-</code> operators are evaluated last (also from left to right).
</p>

In [15]:
2+3*6

20

In [16]:
(2 + 3) * 6

30

In [17]:
2**5

32

In [18]:
22/7

3.142857142857143

In [1]:
22//7 # integer division - truncates all the decimals (similar to round down)

3

In [2]:
22 % 7 # Returns the reminder of the division

1

The meaning of an operator (e.g. `+`) may change based on the data types of the values next to it

In [21]:
# Addition for int or float
1 + 2, 1.2 + 2.4

(3, 3.5999999999999996)

 <p style="color:green;">Any line or sentence or code after hash mark<Code>#</code> will be treated as a <b>comment</b> by the python interpreter (its the program that runs the python code). The computer will simply ignore (skip) the comment from running. We can also use them to write notes or remind yourself what the code is trying to do. </p>

## String concatenation & Replication

<p><code>+</code> not only performs addition on numbers. It also performs concatenation (combine or join operation) on two or more strings. </p>

In [22]:
# Concatenation for string data type
'Bruce' + 'Wayne'

'BruceWayne'

 <p style="color:red;">If you try to use the + operator on a string and an integer value, Python will not know how to handle this, and it will display an error message</p>

In [23]:
'Bruce' + 42

TypeError: must be str, not int

The `*` operator when used on one string value and one integer value becomes string replication operator.

In [24]:
2*5

10

In [25]:
'Batman'*5

'BatmanBatmanBatmanBatmanBatman'

# Variables

<p>
Think of it like a box in the computer’s memory where we can store values by giving a name to it.<br>

<b>Variable Names</b> are case sensitive. We can name a variable anything as long as it obeys the following three rules:
<ul style="font-size:100%">				
<li><b style="font-size:100%">Rule 1</b>- It can be only one word.</li>
<li><b style="font-size:100%">Rule 2</b> - It can use only letters, numbers, and the underscore <code>__</code> character.</li>
<li><b style="font-size:100%">Rule 3</b> - It can’t begin with a number.</li> 
</ul>


<i><font style="color:red">Example of invalid variable names</font></i>: 	<code>current-balance</code>, <code>current balance 4account</code>, <code>total_(um</code>, <code>'batman'</code>
</p>


<table style="max-width:80%;margin-left:10%;border: 1px solid black; font-size:110%">
    <caption style="text-align: center"><b> Example of Invalid variable names and why they are invalid</b></caption>
    <tr>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Invalid variable name</td>
        <td style="color:blue; background-color:rgb(80, 80, 80); color:white; text-align: center">Why it's invalid?</td>  
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center" width=30%><code>current-balance</code></td>
        <td style="text-align: center">Other than <code>__</code>, no symbols are allowed in variable name</td>
    </tr>
    <tr style="color:black;text-align: center">
        <td style="text-align: center"><code>current balance 4account</code></td>
        <td style="text-align: center">Space is also note allowed in variable name</td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center"><code>total_(um</code></td>
        <td style="text-align: center">The brackets are not allowed in variable name.</td>
    </tr>
        <tr style="color:black;text-align: center">
        <td style="text-align: center"><code>'batman'</code></td>
        <td style="text-align: center">Quotes are not allowed in variable name. Enclosing the variable name inside quotes makes them a string. We will see more about string in future posts.</td>
    </tr>
</table>

<p>Now, let's see how to assign value to the variable and store it inside the computers memory. The format is <code>variable_name = value</code></p>

In [8]:
name = 'Super Man'
age = 49
pi = 3.1415

print (name)
print (age)

age = age + 1 #Add 1 to age and update it
print (age)

# What do you think will happend if we run the two lines below ?
#age = age + 10
#print (age)

Super Man
49
50

# Output using `print`

Storing the data will not be sufficient enough. We need to display the values on the screen from time to time. The easiest way to display the value is to use built in function <code>print(your_value)</code>. Let's see few examples

In [9]:
print ('Hello world!')

Hello world!

To print multiple values on same line, there are two approaches:

<b>Approach 1 - Use comma(,) inside the print to dispay multiple values</b>. Take note that the comma used to seperate the values inside the print will not get printed. Instead, it introduces a space.

In [11]:
print ('hi', 'hello', 100, 3.145)

hi hello 100 3.145

<b>Approach 2 - Use plus(+) inside the print to dispay multiple values</b>. Take note that the plus used to combine the values inside the print will not get printed.

<font style="color:red">Unlike comma (,), plus(+) doesn't work with different data types. We need to convert everything to string before using plus sign.</font>

How do we convert every value into string?
- Again, there's a built in function in python called <code>str()</code> which helps us convert data of any type into string data.

In [13]:
print ('hi' + 'hello' +  100 + 3.145) # plus(+) doesn't work with different datatypes

TypeError: must be str, not int

In [14]:
print ('hi' + 'hello' + str(100) + str(3.145))

hihello1003.145

What if we want to include space between each value printed?

In [15]:
print ('hi' + ' ' + 'hello' +  ' ' + str(100) + ' ' + str(3.145))

hi hello 100 3.145

In [20]:
# Another xample on using print() with multiple values and data types
name = 'Super Man'
age = 49
height = 1.85 

print('=== Using comma (,) to print multiple values ===')
print ('My name is', name)
print ('My age is', age)
print ('My height is', height)

print('=== Using plus (+) to print multiple values ===')
print ('My name is ' + name)   # We don't have to convert the name var into string. Why? It's already a string
print ('My age is ' + str(age))
print ('My height is ' + str(height))

=== Using comma (,) to print multiple values ===
My name is Super Man
My age is 49
My height is 1.85
=== Using plus (+) to print multiple values ===
My name is Super Man
My age is 49
My height is 1.85

<p>Which one of the following two <code>print</code> lines is correct?
<br><br>
<i>Hint 1</i>: Anything enclosed inside the quotes will be treated as a string. <br>
<i>Hint 2</i>: Variable should be enclosed inside a quote.</p>

In [ ]:
#print ('My name is ' + 'name')
#print ('My name is ' + name)

# Input using `input`

<p>Using <code>print</code> function, we can display values/output to the user. However, how do we get values from the user like username, password, etc?. <br><br>

To get input from the user, we have to use <code>input()</code>function. <br><br>

<font style="color:red">Note that irrespective of the data we type (e.g. numbers), input function will read it as a string data.</font>
</p>

In [27]:
name = input('>>> Enter your name: ')
print ('Your name is', name)

>>> Enter your name: Batman
Your name is Batman

<p>[MINI TASK] Write a program that gets your name, age and height and prints it on the screen.</p>

In [28]:
name = input('>>> Enter your name: ')

### your code goes here ###

>>> Enter your name:

# Type converstion

`str(), int(), float()` - These functions are used to change the data types of the values. <br>

As the `input()` function returns `str` data, we may have to manually change if we are handling numbers. <br>

In [30]:
age = '21'
print ('Before data type conversion:', type(age))

age = int(age) # Converts age into int data type
print ('After data type conversion:', type(age))

Before data type conversion: <class 'str'>
After data type conversion: <class 'int'>

# Challenge  1

<p>Now, let's take a break from learning and start testing what we have learnt.<br><br>
<font style="color:#FF8b33">Write a code that asks for users height in centimeter and convert it into meters.</font><br><br>
<i>Example: If the user enters his height as 181 in centimeter, it should be converted as 1.81 in meter and printed on the screen.</i></p>

In [33]:
### your code goes here ###

<p>I have added one of the many possible for this challenge. Try not to look at it until you try first. I know it's hard not to look at the solution when it's right below the challenge 😀 </p>

In [35]:
### SOLUTION ###

height_in_cm = input("Enter height in cm: ")
height_in_cm = float(height_in_cm)

print ('Your height in meters:', height_in_cm/100)

Enter height in cm: 181
Your height in meters: 1.81